.login-label {
    /* font-weight: bold; */
    margin-bottom: 1rem;
    display: block;
    font-style: italic;
  }
  
  .login-input {
    border-radius: 8px;
    width: 27rem;
    max-width: 100%;
    background-color: transparent;
  }
  
  .login-input:active,
  .login-input:focus {
    border-color: grey;
    box-shadow: none;
  }
  