.rhyming-words {
  text-align: center;
  margin-top: 3rem;
  font-size: larger;
  font-family: cursive;
  font-weight: bolder;
  color: cadetblue;
}

.rhymingWord {
  border-radius: 8px;
  width: 22rem;
  height: 5rem;
  max-width: 100%;
  background-color: transparent;
  color: rgb(121, 119, 119);
  font-family: cursive;
  display: flex;
  align-items: center;
}

.input-word {
  display: flex;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.submit-button-rhyme {
  border-radius: 8px;
  width: 14rem;
  max-width: 100%;
  height: 3rem;
  margin-bottom: 3rem;
  font-weight: 600;
  color: #ffff;
  background: #188fff;
  border: 1px solid #188fff;
}

.addmore-button-rhyme {
  border-radius: 8px;
  color: #ffff;
  width: 8rem;
  height: 2.5rem;
  font-weight: 600;
  background: #188fff;
  border: 1px solid #188fff;
  margin-bottom: 1rem;
}

.Home-WOTD {
  text-align: center;
  color: rgb(16, 63, 61);
  font-size: larger;
  font-weight: bolder;
  margin-top: 2rem;
}

.WOTD {
  text-align: center;
  font-size: 25pt;
  font-weight: 600;
  font-family: "Lora", serif;
  font-family: "Lora", serif;
  background-image: -webkit-linear-gradient(
    left,
    #f00,
    #ff2b00,
    #f50,
    #ff8000,
    #fa0,
    #ffd500,
    #ff0,
    #d4ff00,
    #af0,
    #80ff00,
    #5f0,
    #2bff00,
    #0f0,
    #00ff2a,
    #0f5,
    #00ff80,
    #0fa,
    #00ffd5,
    #0ff,
    #00d5ff,
    #0af,
    #0080ff,
    #05f,
    #002aff,
    #00f,
    #2b00ff,
    #50f,
    #8000ff,
    #a0f,
    #d400ff,
    #f0f,
    #ff00d4,
    #f0a,
    #ff0080,
    #f05,
    #ff002b,
    #f00
  );
  -webkit-animation: animatedBackground_a 5s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
}

@keyframes animatedBackground_a {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500px 0;
  }
}

.before-submission{
  border: 1px solid rgb(29, 82, 64);
  border-radius: 10px;
}

.input-array{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
}

.remove-button{
  height: 1.5rem;
  display: contents;
  font-size: 1rem;
}