.input-accept-or-reject input{
    margin-left: 2rem;
    padding: 2rem;
}

.submit-button-WOTD{
    border-radius: 8px;
    width: 14rem;
    max-width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #ffff;
    background: #188fff;
    border: 1px solid #188fff;
    align-self: center;
}